.lib-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
}

.swipeContainer,
.swipeContainer .content {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 85vh;
}

.lib-container .book {
  width: 98vw;
}

.book {
  position: relative;
  height: 100vh;
}

.book .bookPanelBottom {
  height: 100px;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: #ffffff;
}

.book .book-card {
  border: none;
  box-shadow: none !important;
  height: inherit;
}

.book .bookPagin {
  position: fixed;
  top: 50%;
}

.book .bookPagin.nextPage {
  right: 3%;
}

.book .bookPagin.prevPage {
  left: 3%;
}

.book .book-card .v-card__text {
  padding: 0;
  max-height: 100vh;
  overflow: auto;
}
